#red {
    color: red;
}

#blue {
    color: rgb(81, 150, 206)
}

#orange {
    color: rgb(212, 126, 28);
}

#green {
    color: rgb(6, 92, 6);
}

#yellow {
    color: yellow;
}

.color-title {
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
}